@model IEnumerable<Daterbase.Models.Dater>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DMinimumAge)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DMaximumAge)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DGender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsEmployed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsStudent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DNoScrubs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZipCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DWillingToTravel)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Age)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DMinimumAge)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DMaximumAge)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DGender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsEmployed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsStudent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DNoScrubs)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ZipCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DWillingToTravel)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DaterID }) |
            @Html.ActionLink("Details", "Details", new { id=item.DaterID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DaterID })
        </td>
    </tr>
}

</table>
